In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
df = pd.read_csv("drive/MyDrive/jksl_housing_price.csv")
df.head(11)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,HARGA,LT,LB,JKT,JKM,GRS,KOTA
1,28000000000,1100,700,5,6,ADA,JAKSEL
2,19000000000,824,800,4,4,ADA,JAKSEL
3,4700000000,500,400,4,3,ADA,JAKSEL
4,4900000000,251,300,5,4,ADA,JAKSEL
5,28000000000,1340,575,4,5,ADA,JAKSEL
6,10000000000,NaN,300,4,4,ADA,JAKSEL
7,7600000000,278,350,4,4,ADA,JAKSEL
8,5250000000,511,300,3,2,ADA,JAKSEL
9,670000000,70,69,3,2,TIDAK ADA,JAKSEL
10,480000000,66,42,2,1,TIDAK ADA,JAKSEL

In [64]:
# membuat baris pertama (0) menjadi header dan hapus di dari baris 0
df.columns = df.iloc[0]
df = df.drop(df.index[0])

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 1 to 1001
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   1001 non-null   object
 1   LT      1000 non-null   object
 2   LB      1001 non-null   object
 3   JKT     1001 non-null   object
 4   JKM     1001 non-null   object
 5   GRS     1001 non-null   object
 6   KOTA    1001 non-null   object
dtypes: object(7)
memory usage: 54.9+ KB

In [66]:
# Hapus data yang tidak diperlukan
df = df.drop(['GRS', 'KOTA'], axis = 1)

In [67]:
# Cek
df.info()
df.head(11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 1 to 1001
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   1001 non-null   object
 1   LT      1000 non-null   object
 2   LB      1001 non-null   object
 3   JKT     1001 non-null   object
 4   JKM     1001 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

0         HARGA    LT   LB JKT JKM
1   28000000000  1100  700   5   6
2   19000000000   824  800   4   4
3    4700000000   500  400   4   3
4    4900000000   251  300   5   4
5   28000000000  1340  575   4   5
6   10000000000   NaN  300   4   4
7    7600000000   278  350   4   4
8    5250000000   511  300   3   2
9     670000000    70   69   3   2
10    480000000    66   42   2   1
11  10700000000   449  500   6   7

In [74]:
df["HARGA"] = pd.to_numeric(df["HARGA"])
df["LT"] = pd.to_numeric(df["LT"])

harga = df["HARGA"]
lt = df["LT"]

# Menghitung nilai interpolasi linear dengan rumus
luastanah_6 = lt[5] + (harga[6] - harga[5]) * (lt[5] - lt[7]) / (harga[5] - harga[7])

# print hasil
print("LT (Luas Tanah) pada data ke-6:", luastanah_6)

LT (Luas Tanah) pada data ke-6: 402.9411764705883

In [78]:
df["LT"].fillna(luastanah_6, inplace=True)

In [77]:
df.head(11)

0         HARGA      LT   LB JKT JKM
1   28000000000  1100.0  700   5   6
2   19000000000   824.0  800   4   4
3    4700000000   500.0  400   4   3
4    4900000000   251.0  300   5   4
5   28000000000  1340.0  575   4   5
6   10000000000   403.0  300   4   4
7    7600000000   278.0  350   4   4
8    5250000000   511.0  300   3   2
9     670000000    70.0   69   3   2
10    480000000    66.0   42   2   1
11  10700000000   449.0  500   6   7

In [84]:
# Menghitung rata-rata dari 'HARGA' dan 'LT'
rata_harga = np.mean(harga)
rata_lt = np.mean(lt)

# Rumusnya adalah Y = a + bX
# Menghitung slope (b)
numerator = sum((harga - rata_harga) * (lt - rata_lt))
denominator = sum((harga - rata_harga)**2)
slope = numerator / denominator

# Menghitung intercept (b)
intercept = rata_lt - slope * rata_harga

print(f"Slope: {slope}")
print(f"Intercept: {intercept}")

# Misalkan ingin mengekstrapolasi nilai LT untuk harga baru
harga_baru = 3000000000  # contoh harga baru

# Menghitung ekstrapolasi LT untuk harga baru
lt_ekstrapolasi = slope * harga_baru + intercept

print(f"LT (Luas Tanah) untuk harga baru {harga_baru} adalah: {lt_ekstrapolasi}")

Slope: 1.8910854695580504e-08
Intercept: 199.98567528381108
LT (Luas Tanah) untuk harga baru 3000000000 adalah: 256.71823937055257